# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
obj
core
graph_bm_weighted
graph_bm
graph_bm_no_update
test_graphcontainer
test_btree
test_pma
test_adj
test_powlaw
test_test

# tags
tags
